node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

#python virtual environment
server/venv/

#environment variables
.env

#caches
server/__pycache__


#deta files
server/.deta