<html>
<body style="margin: 0; padding: 0; box-sizing: border-box; font-family: Arial, Helvetica, sans-serif;">
<div style="width: 100%; background: #efefef; border-radius: 10px; padding: 10px;">
  <div style="margin: 0 auto; width: 90%; text-align: center;">
    <h1 style="background-color: #6D28D9; padding: 5px 10px; border-radius: 5px; color: white;">NFT Market Place</h1>
    <div style="margin: 30px auto; background: white; width: 40%; border-radius: 10px; padding: 50px; text-align: center;">
      <p style="margin-bottom: 30px;">{{ body }}</p>
    </div>
  </div>
</div>
</body>
</html>